.showcase {
  padding: 5rem 20rem;
  background: linear-gradient(rgba(11, 37, 69, 0.8), rgba(11, 37, 69, 0.6)),
    url("/images/business-solutions.jpg") no-repeat center center/cover;
  color: var(--mainWhite);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.showcase h1 {
  font-size: var(--mainHeaderOneSize);
  margin-bottom: 2rem;
}

.showcase p {
  font-size: var(--mainParagraphSize);
  text-align: center;
  line-height: 1.5;
}

.section {
  margin: 5rem 0;
}

@media (max-width: 1300px) {
  .showcase {
    padding: 3rem 10rem;
  }
}

@media (max-width: 900px) {
  .showcase {
    padding: 5rem;
  }
}

@media (max-width: 540px) {
  .showcase {
    padding: 2rem;
  }
}
