.button {
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-family: inherit;
  font-size: var(--buttonTextSize);
  background-color: var(--mainButtonBackground);
  color: var(--mainButtonColor);
  border: none;
  cursor: pointer;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  outline: none;
}

.button:hover {
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

.button:active {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  transform: scale(1);
}
