.showcase {
  padding: 5rem 20rem;
  background: linear-gradient(rgba(11, 37, 69, 0.8), rgba(11, 37, 69, 0.6)),
    url("/images/contact-us.jpg") no-repeat center center/cover;
  color: var(--mainWhite);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.showcase h1 {
  font-size: var(--mainHeaderOneSize);
  margin-bottom: 2rem;
}

.showcase p {
  font-size: var(--mainParagraphSize);
  text-align: center;
  line-height: 1.3;
}

.radioSection {
  display: flex;
  flex-direction: column;
}

.contact {
  padding-bottom: 3rem;
}

.contact h2 {
  text-align: center;
  font-size: 2rem;
  margin: 2rem 0;
}

.contact form {
  height: auto;
  width: 40rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.btnBox {
  margin: auto;
}

.formgroup {
  display: flex;
  flex-direction: column;
  margin: 0.6rem 0;
}

.formgroup label {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

.formgroup input:not(.radioSection div input) {
  height: 2.5rem;
  margin: 0.5rem 0;
  border-radius: 1rem;
  border: 1px solid var(--mainGreen);

  padding: 0 1rem;
}

.formgroup input:focus:not(.radioSection div input) {
  outline-color: var(--mainBlue);
}

.formgroup textarea {
  margin: 1rem 0;
  border-radius: 1rem;
  padding: 1rem;
  border: 1px solid var(--mainBlue);
}

.formgroup textarea:focus {
  outline-color: var(--mainBlue);
}

.radioSection div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.radioSection div label {
  margin-left: 0.5rem;
}

@media (max-width: 1300px) {
  .showcase {
    padding: 5rem 10rem;
  }
}

@media (max-width: 750px) {
  .contact form {
    width: 100%;
    padding: 0 1rem;
  }
}

@media (max-width: 900px) {
  .showcase {
    padding: 5rem;
  }
}

@media (max-width: 540px) {
  .showcase {
    padding: 1.5rem;
  }
}
