.faq {
  margin: 2rem auto;
  width: 50%;
}

.faq h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.group {
  margin: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  border: 1px solid var(--mainBlue);
  padding: 0.5rem;
}

.group p {
  margin: 1rem;
}

.questionBox {
  position: relative;
  transition: all 0.4s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.questionBox div {
  font-size: 2.5rem;
  margin-right: 1rem;
  color: var(--mainBlue);
}

.answerBox {
  opacity: 0;
  height: 0;
  border: 1px solid green;
  overflow-y: hidden;
}

.answerBox p {
  opacity: 0;
}

.answerBoxOpen p {
  opacity: 1;
  line-height: 1.5;
}

.answerBoxOpen {
  opacity: 1;
  height: 100%;
  overflow-y: visible;
}

.questionBox h3 {
  font-size: 1.4rem;
  margin: 1rem;
}

@media (max-width: 768px) {
  .faq {
    width: 75%;
  }
}

@media (max-width: 540px) {
  .faq {
    width: 90%;
  }
}
