:root {
  --mainBlue: #0b2545;
  --mainGreen: #197278;
  --mainWhite: #eef4ed;
  --mainRed: #db162f;
  --mainPink: #ef798a;
  --mainYellow: #f6ae2d;

  /* RGBA Values for opacity (mobile nav menu) */
  --mainBlueRGBA: rgba(11, 37, 69, 0.9);

  /* Navbar Basic Styles */
  --navLogo: var(--mainWhite);
  --navBackground: var(--mainGreen);
  --navLinks: var(--mainWhite);
  --navLinksHover: var(--mainYellow);

  /* Navbar logo hover */
  --navLogoHover: var(--mainYellow);

  /* Navbar mobile styles */
  --navMobileBackground: var(--mainBlueRGBA);
  --navHamburger: var(--mainWhite);

  /* Main */
  --mainBackgroundColor: var(--mainWhite);

  /* Footer Basic Styles */
  --footerBackground: var(--mainGreen);

  /* Buttons */
  --mainButtonBackground: var(--mainBlue);
  --mainButtonColor: var(--mainWhite);

  /* Sizing */
  --mainHeaderOneSize: 3rem;
  --mainParagraphSize: 1.5rem;
  --buttonTextSize: 1.1rem;
}

/* Global Tag Styling */

/* Section Styling */
section {
  padding: 2rem 10rem;
}

section h2 {
  font-size: 3rem;
  text-align: center;
}

@media (max-width: 1024px) {
  section {
    padding: 3rem 4rem;
  }
}

@media (max-width: 500px) {
  section {
    padding: 3rem 1rem;
  }

  section h2 {
    font-size: 2rem;
  }
}
