.showcase {
  padding: 5rem 20rem;
  background: linear-gradient(rgba(11, 37, 69, 0.8), rgba(11, 37, 69, 0.6)),
    url("/images/digital-marketing.jpg") no-repeat center center/cover;
  color: var(--mainWhite);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.showcase h1 {
  font-size: var(--mainHeaderOneSize);
  margin-bottom: 2rem;
  text-align: center;
}

.showcase p {
  font-size: var(--mainParagraphSize);
  text-align: center;
  line-height: 1.5;
}

.btnBox {
  margin: 4rem 0 2rem;
}

.faqBox {
  margin: 5rem 0;
}

.main {
  padding: 1rem 20rem;
}

.main h2 {
  text-align: left;
  margin: 2rem 0;
}

.main p {
  font-size: 1.3rem;
  line-height: 2;
  margin: 1rem 0;
  text-indent: 1.5rem;
}

.section {
  margin-bottom: 5rem;
}

.section h2 {
  font-size: 2rem;
}

.section ul {
  list-style-type: circle;
  margin: 3rem;
}

.section ul li {
  font-size: 1.5rem;
  margin: 1rem 0;
}

@media (max-width: 1300px) {
  .showcase {
    padding: 3rem 10rem;
  }

  .main {
    padding: 1rem 10rem;
  }

  .section {
    margin-bottom: 4rem;
  }
}

@media (max-width: 900px) {
  .showcase {
    padding: 5rem;
  }

  .main {
    padding: 0 5rem;
  }
}

@media (max-width: 540px) {
  .showcase {
    padding: 2rem;
  }

  .main {
    padding: 0 2rem;
  }

  .section {
    margin-bottom: 2rem;
  }
}
