.section {
  padding: 0 15rem;
}

.section h2 {
  font-size: 3rem;
  text-align: center;
  margin: 2rem 0;
}

.section > div {
  display: flex;
}

.section > div:nth-child(odd) {
  flex-direction: row-reverse;
}

@media (max-width: 1600px) {
  .section {
    padding: 0 2rem;
  }
}

@media (max-width: 768px) {
  .section > div:nth-child(even) {
    flex-direction: column-reverse;
  }

  .section > div:nth-child(odd) {
    flex-direction: column-reverse;
  }
}
