.box {
  padding: 2rem;
  background: var(--mainLightGreen);
  border-radius: 2rem;
  margin: 2.5rem 3rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.box p {
  color: white;
  font-weight: bolder;
  font-size: 1.5rem;
  line-height: 1.6;
}

@media (max-width: 540px) {
  .box {
    padding: 1.3rem;
    margin: 2rem 0;
  }

  .box p {
    font-size: 1rem;
  }
}
