.showcase {
  padding: 5rem 20rem;
  background: linear-gradient(rgba(11, 37, 69, 0.8), rgba(11, 37, 69, 0.6)),
    url("/images/websites-showcase.jpg") no-repeat center center/cover;
  color: var(--mainWhite);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.showcase h1 {
  font-size: var(--mainHeaderOneSize);
  margin-bottom: 2rem;
}

.showcase p {
  font-size: var(--mainParagraphSize);
  text-align: center;
  line-height: 1.5;
}

.btnBox {
  margin: 4rem 0 2rem;
}

.copy {
  margin-bottom: 4rem;
}

.copy h2 {
  font-size: 2rem;
  margin: 2rem 0;
}

.copy p {
  font-size: 1.3rem;
  line-height: 2;
  text-indent: 1.5rem;
}

.section h2 {
  font-size: 2.3rem;
  margin: 1rem 0;
}

.section p {
  font-size: 1.3rem;
  line-height: 2;
}

.main {
  padding: 2rem 20rem;
}

.services {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.services h3 {
  font-size: 2rem;
  margin: 1rem 0;
}

.services .service {
  padding: 1rem;
}

.service p {
  font-size: 1.3rem;
  margin: 2rem 0;
  line-height: 1.5;
}

.service ul {
  margin: 3rem 0;
  list-style-type: disc;
  padding-left: 2rem;
}

.service ul li {
  font-size: 1.3rem;
  margin: 1rem 0;
}

.faqBox {
  margin-bottom: 6rem;
}

@media (max-width: 1300px) {
  .showcase {
    padding: 3rem 10rem;
  }

  .services {
    grid-template-columns: 1fr 1fr;
  }

  .main {
    padding: 1rem 5rem;
  }

  .service ul {
    margin: 2rem 0;
  }
}

@media (max-width: 900px) {
  .showcase {
    padding: 5rem;
  }

  .main {
    padding: 2rem;
  }

  .section h2 {
    margin-left: 1rem;
  }

  .service {
    padding: 0 2rem;
  }

  .service ul {
    margin: 0;
  }
}

@media (max-width: 700px) {
  .services {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 540px) {
  .showcase {
    padding: 2rem;
  }

  .getStarted {
    padding: 0 2rem;
    margin-bottom: 7rem;
  }

  .section h2 {
    margin-left: 0;
  }
}
